@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.flame {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #DEEBEE;
}

.label {
    margin-top: 24px;
    margin-bottom: 16px;
}

.topleft {
    position: absolute;
    width: 320px;
    height: 310px;
    left: -30px;
    top: 0px;
}

.bottomright {
    position: absolute;
    width: 330px;
    height: 340px;
    margin-left: 895px;
    margin-top: 237px;
    right: 0px;
    bottom: 0px;
}

.memorie {
    font-size: 13px;
    position: absolute;
    left: 140px;
    top: 65px;
}

.foop {
    position: absolute;
    width: 230px;
    height: 280px;
    left: 140px;
    top: 125px;
}

.log {
    position: absolute;
    width: 369px;
    height: 340px;
    left: 550px;
    top: 80px;
}

.log1 {
    position: absolute;
    width: 369px;
    height: 340px;
    left: 550px;
    top: 75px;
}

.logaka {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
    margin-right: 240px;
}

.button {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #208196;
    background-color: white;
    border: 1px solid #2FBFD3;
    font-size: 20px;
    line-height: 35px;
    width: 240px;
    height: 80px;
    border-radius: 50px;
    letter-spacing: 0.1cm;
    margin-left: 80px;
    margin-bottom: 12px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(105.42deg, #2FBFD3 14.19%, #208196 78.21%);
    color: white;
}

.line {
    width: 30px;
    height: 0px;
    /* SNS_サブ1 */
    border: 1.5px solid #2FBFD3;
    transform: rotate(90deg);
}

.loginTab {
    cursor: pointer;
    font-size: 20px;
    color: #222222;
}

.fontColor {
    color: #222222;
}

.sinki {
    cursor: pointer;
    font-size: 20px;
    color: #A5A5A5;
}

.mail {
    color: #222222;
    font-size: 16px;
    letter-spacing: 0.1cm;
}

.email {
    border: none;
    border-bottom: 1px solid #222222;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 32px;
    font-size: 17px;
    margin: 0;
}


.text_underline {
    position: relative;
    border-top: 1px solid #c2c2c2;
    margin-top: 10px;
    margin-bottom: 22px;
}

.text_underline1 {
    position: relative;
    /*.text_underline::beforeの親要素*/
    border-top: 1px solid #c2c2c2;
    /*text3の下線*/
    margin-top: 5px;
    margin-bottom: 15px;
}

.pass {
    color: #222222;
    position: absolute;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1cm;
    /* SNS_メイン */
    color: #222222;
}

.password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222222;
    outline: none;
    width: 100%;
    height: 32px;
    font-size: 17px;
}

.namae {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222222;
    outline: none;
    width: 100%;
    height: 32px;
    font-size: 17px;
}

.name {
    color: #222222;
    letter-spacing: 0.05cm;
}

.provider {
    text-align: center;
    cursor: pointer;
    color: #2FBFD3;
    letter-spacing: 0.05cm;
    margin: 0;
    margin-bottom: 18px;
}

.flame1 {
    /* box-sizing: border-box; */
    position: absolute;
    width: 1100px;
    height: 450px;
    left: calc(50% - 1110px/2);
    top: calc(50% - 445px/2);

    background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 100%);
    /* SNS_サブ1 */

    border: 3px solid #2FBFD3;
    border-radius: 30px;

    @media(min-height: 600px) {
        height: 500px;

        .log {
            top: 120px;
        }

        .log1 {
            top: 110px;
        }

        .logaka {
            margin-top: 40px;
        }

        .memorie {
            color: #222222;
            margin-top: 30px;
        }

        .foop {
            margin-top: 30px;
        }
    }
}

.error {
    color: #FF0000;
    margin: 0;
    height: 40px;
    text-align: center;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.infoFlame {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    border: 1px solid #208196;
    border-radius: 60px;
    padding-left: 10%;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
}

.infoName {
    margin-left: 20px;
    margin-right: 20%;
    border-bottom: 1px solid #222222;
}

.infoValue {
    padding-left: 50vh;
    text-align: center;
}

.infoDiv {
    display: table;
    width: 100%;
}

.logout {
    text-align: center;
    color: #FF2222;
    cursor: pointer;
    margin: 0;
    margin-bottom: 5%;
}

.changeName {
    color: #0A41D0;
    margin-left: 100px;
    cursor: pointer;
}

.changeNameInput {
    font-size: 18px;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    outline: none;
    border: none;
    margin-left: 30vh;
    text-align: center;
}